<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<h2>Fun Facts</h2>
<!--good flipping and add fun facts about Laszlo-->

<div class="container">
  <div class="card-group">
    <div class="col-lg-4 col-md-6 col-sm-12" style="card">
      <div class="card card-flip">
        <div class="card-front">
          <div class="card-body">
            <img class="card-img-top" src="/static/assets/picture17.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="card-back">
          <div class="card-body">
            <h5 class="card-title">Fun Fact</h5>
            <p class="card-text">Laszlo was rescued from an Ottawa, Canada rescue called Homes for Paws.</p>
            <p class="card-text">His Mom was rescued from Texas as a pregnant stray and brought to Canada by the rescue.</p>
            <p class="card-text">He is one of six puppies.</p>
            <p class="card-text"><small class="text-muted">Last updated in 2021</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="background-color:#FCE8E3;">
      <div class="card card-flip">
        <div class="card-front background-color:#FCE8E3;">
          <div class="card-body">
            <img class="card-img-top" src="/static/assets/picture21.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="card-back background-color:#FCE8E3;">
          <div class="card-body">
            <h5 class="card-title">Fun Fact</h5>
            <p class="card-text">Laszlo loves to help out in the garden.</p>
            <p class="card-text">Our families are avid gardeners and Laszlo has helped out in everyone's gardens.</p>
            <p class="card-text">His favorite part of gardening is digging the holes for us.</p>
            <p class="card-text"><small class="text-muted">Last updated in 2021</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="background-color:#FCE8E3;">
      <div class="card card-flip">
        <div class="card-front background-color:#FCE8E3;">
          <div class="card-body">
            <img class="card-img-top" src="/static/assets/picture6.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="card-back background-color:#FCE8E3;">
          <div class="card-body">
            <h5 class="card-title">Fun Fact</h5>
            <p class="card-text">Laszlo is super receptive to training.</p>
            <p class="card-text">We have been able to teach him any trick we can think of and after only a few tries he gets it.</p>
            <p class="card-text">We credit his smarts, but also his food motivation.</p>
            <p class="card-text"><small class="text-muted">Last updated in 2021</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="background-color:#FCE8E3;">
      <div class="card card-flip">
        <div class="card-front background-color:#FCE8E3;">
          <div class="card-body">
            <img class="card-img-top" src="/static/assets/picture11.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="card-back background-color:#FCE8E3;">
          <div class="card-body">
            <h5 class="card-title">Fun Fact</h5>
            <p class="card-text">Laszlo recently started going boating.</p>
            <p class="card-text">He loves to go up to the cottage, and especially loves the canoe.</p>
             <p class="card-text">We hypothesize that this is because he can try to grab lily pads off of the side.</p>
            <p class="card-text"><small class="text-muted">Last updated in 2021</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="background-color:#FCE8E3;">
      <div class="card card-flip">
        <div class="card-front background-color:#FCE8E3;">
          <div class="card-body">
            <img class="card-img-top" src="/static/assets/picture12.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="card-back background-color:#FCE8E3;">
          <div class="card-body">
            <h5 class="card-title">Fun Fact</h5>
            <p class="card-text">Laszlo recently started swimming this summer.</p>
            <p class="card-text">We didn't think he would like it, but he surprisingly loves to swim.</p>
            <p class="card-text">He prefers to just stand in the water, but will swim out when he wants to.</p>
            <p class="card-text"><small class="text-muted">Last updated in 2021</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="background-color:#FCE8E3;">
      <div class="card card-flip">
        <div class="card-front background-color:#FCE8E3;">
          <div class="card-body">
            <img class="card-img-top" src="/static/assets/picture26.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="card-back background-color:#FCE8E3;">
          <div class="card-body">
            <h5 class="card-title">Fun Fact</h5>
            <p class="card-text">Laszlo is a model / ambassador for multiple bandana / accessory brands.</p>
            <p class="card-text">We were slightly worried that he wouldn't like wearing bandanas when we first bought them.</p>
            <p class="card-text">Turns out whenever we bring them out he gets excited and starts wagging (likely because he gets a treat).</p>
            <p class="card-text"><small class="text-muted">Last updated in 2021</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<h5>Let us know if you enjoy these and want to see more via the     <a href="/contact/"><button type="button" class="btn btn-dark" style="background-color: #363533;">Contact Me</button></a> page</h5>
{% endblock content %}
</body>
</html>